@charset "utf-8";
/* CSS Document */

/* nav bar */
 nav,ol{
	  background: #009688 !important;
	  font-size:18px;
	  margin-top: -4px;
  }
  
/* html body */
 body{
	  background: #fff !important;
	  color:black;
  }
/* anchor tages */
 a{
	  text-decoration:none;
	  color:black;
  }
   a:hover{
	  text-decoration:none;
	  color:#4B436A;
  }
 /* date picker */
 .datepicker {
	  cursor:pointer;
  }
#datepick > span:hover{cursor: pointer;}

/* dropdown menu */ 
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

 /* side bar */
 html { min-height: 100%; }

body {
  margin: 0;
  min-height: inherit;
}
 [data-sidebar] {
 display: none;
 position: absolute;
 height: 100%;
 z-index: 100;
}
 [data-sidebar-overlay] {
 display: none;
 position: fixed;
 top: 0;
 bottom:0;
 left: 0;
 opacity: 0;
 width: 100%;
 min-height: inherit;
}

/* side bar Additional styles */
aside {  position:relative;
   height:100%;
   width:200px; 
   top:0;
   left:0;background-color:#ECEFF1; box-shadow: 0 6px 6px 0 rgba(0,0,0,0.8); z-index:999999 !important; }
aside  a { color:#000;font-size:16px; text-decoration:none;}
.overlay { background-color: #DED6C4;z-index:999990 !important;}

.padding { padding: 2em; }
  
/* loading */
@-webkit-keyframes uil-default-anim { 0% { opacity: 1} 100% {opacity: 0} }
@keyframes uil-default-anim { 0% { opacity: 1} 100% {opacity: 0} }
.uil-default-css > div:nth-of-type(1){
	-webkit-animation: uil-default-anim 1s linear infinite;
	animation: uil-default-anim 1s linear infinite;
	-webkit-animation-delay: -0.5s;animation-delay: -0.5s;
	}
.uil-default-css {
	position: relative;
	background:none;
	width:200px;
	height:200px;
	}
	.uil-default-css > div:nth-of-type(2){
		-webkit-animation: uil-default-anim 1s linear infinite;
		animation: uil-default-anim 1s linear infinite;
		-webkit-animation-delay: -0.4166666666666667s;
		animation-delay: -0.4166666666666667s;
		}
	.uil-default-css {
		 position: relative;background:none;
		 width:200px;
		 height:200px;
		 }
 .uil-default-css > div:nth-of-type(3){
	 -webkit-animation: uil-default-anim 1s linear infinite;
	 animation: uil-default-anim 1s linear infinite;
	 -webkit-animation-delay: -0.33333333333333337s;
	 animation-delay: -0.33333333333333337s;
	 }
.uil-default-css {
	position: relative;
	background:none;
	width:200px;
	height:200px;
	}
.uil-default-css > div:nth-of-type(4){
	-webkit-animation: uil-default-anim 1s linear infinite;
	animation: uil-default-anim 1s linear infinite;
	-webkit-animation-delay: -0.25s;
	animation-delay: -0.25s;
	}
.uil-default-css {
	position: relative;background:none;
	width:200px;
	height:200px;
	}
.uil-default-css > div:nth-of-type(5){
	-webkit-animation: uil-default-anim 1s linear infinite;
	animation: uil-default-anim 1s linear infinite;
	-webkit-animation-delay: -0.16666666666666669s;
	animation-delay: -0.16666666666666669s;
	}
.uil-default-css {
	position: relative;
	background:none;
	width:200px;
	height:200px;
	}
.uil-default-css > div:nth-of-type(6){
	-webkit-animation: uil-default-anim 1s linear infinite;
	animation: uil-default-anim 1s linear infinite;
	-webkit-animation-delay: -0.08333333333333331s;
	animation-delay: -0.08333333333333331s;
	}
.uil-default-css {
	position: relative;
	background:none;
	width:200px;
	height:200px;
	}
.uil-default-css > div:nth-of-type(7){
	-webkit-animation: uil-default-anim 1s linear infinite;
	animation: uil-default-anim 1s linear infinite;
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
	}
.uil-default-css {
	position: relative;
	background:none;
	width:200px;
	height:200px;
	}
.uil-default-css > div:nth-of-type(8){
	-webkit-animation: uil-default-anim 1s linear infinite;
	animation: uil-default-anim 1s linear infinite;
	-webkit-animation-delay: 0.08333333333333337s;
	animation-delay: 0.08333333333333337s;
	}
.uil-default-css {
	position: relative;
	background:none;
	width:200px;
	height:200px;
	}
.uil-default-css > div:nth-of-type(9){
	-webkit-animation: uil-default-anim 1s linear infinite;
	animation: uil-default-anim 1s linear infinite;
	-webkit-animation-delay: 0.16666666666666663s;
	animation-delay: 0.16666666666666663s;
	}
.uil-default-css {
	position: relative;
	background:none;
	width:200px;
	height:200px;
	}
.uil-default-css > div:nth-of-type(10){
	-webkit-animation: uil-default-anim 1s linear infinite;
	animation: uil-default-anim 1s linear infinite;
	-webkit-animation-delay: 0.25s;
	animation-delay: 0.25s;
	}
.uil-default-css {
	position: relative;background:none;
	width:200px;
	height:200px;
	}
.uil-default-css > div:nth-of-type(11){
	-webkit-animation: uil-default-anim 1s linear infinite;
	animation: uil-default-anim 1s linear infinite;
	-webkit-animation-delay: 0.33333333333333337s;
	animation-delay: 0.33333333333333337s;
	}
.uil-default-css {
	position: relative;
	background:none;
	width:200px;
	height:200px;
	}
.uil-default-css > div:nth-of-type(12){
	-webkit-animation: uil-default-anim 1s linear infinite;
	animation: uil-default-anim 1s linear infinite;
	-webkit-animation-delay: 0.41666666666666663s;
	animation-delay: 0.41666666666666663s;
	}
.uil-default-css {
	position: relative;
	background:none;
	width:200px;
	height:200px;
	}

