/*Custom CSS Styles*/
.app-header__logo .logo-src {
    height: 100%;
    width: 175px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.was-validated .form-control:invalid, .form-control.is-invalid, .was-validated .form-control:valid, .form-control.is-valid {
    background-image: none;
}

.app-page-title .page-title-icon {
    padding: .53333rem;
    margin: 0 15px 0 0;
    width: 50px;
    height: 50px;
}

.app-theme-white.app-container {
    background: rgba(255, 255, 255, 0.45);
}


.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 38px;
    user-select: none;
    -webkit-user-select: none;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 36px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 36px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px;
}

.vertical-nav-menu li a.mm-active {
    color: #ffffff;
    background: #3f6ad8;
    font-weight: bold;
}

.vertical-nav-menu i.metismenu-state-icon,
.vertical-nav-menu i.metismenu-icon {
    opacity: .7;
}

.bg-yellow {
    background-color: #ffff0045;
    color: #000000;
}

.bg-green {
    background-color: #0080003d;
    color: #000000;
}

.bg-red {
    background-color: #ff000054;
    color: #000000;
}

.infoBox img {
    position: absolute !important;
    right: 15px;
    z-index: 9999;
}

.square-box {
    /*float: left;*/
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
    border: 1px solid rgba(0, 0, 0, .2);
}

/*.select2-container {*/
/*    display: flex;*/
/*    width: 100% !important;*/
/*}*/

.select2-container .selection {
    width: 100%;
}

.pointer {
    cursor: pointer;
}

.app-main .app-main__inner {
    padding: 10px 15px 0;
    flex: 1;
}

.body-tabs-shadow .body-tabs-animated {
    padding: 0px;
}

.closed-sidebar:not(.closed-sidebar-mobile) .app-header .app-header__logo {
    width: auto;
}

.closed-sidebar:not(.closed-sidebar-mobile) .app-header .app-header__logo .logo-src {
    display: block;
}

.closed-sidebar.closed-sidebar-mobile .app-header .app-header__logo .header__pane {
    display: none;
}

@media (max-width: 991.98px) {
    .app-header .app-header__logo {
        display: block;
        order: 2;
        background: transparent !important;
        border: 0 !important;
    }
}

.card-body {
    padding: 1rem;
}

/*Header Bar Style Start*/
/*.app-theme-white .app-footer .app-footer__inner,*/
/*.app-theme-white .app-header {*/
/*    background: #009688;*/
/*}*/

/*.app-theme-white.fixed-header .app-header__logo {*/
/*    background: none;*/
/*}*/

/*.app-header {*/
/*    color: #ffffff;*/
/*}*/

/*.app-header .widget-content .widget-content-left .widget-heading {*/
/*    opacity: 1;*/
/*    font-weight: normal;*/
/*}*/

/*.app-header .app-header__content .header-menu .nav-link {*/
/*    color: #ffffff;*/
/*    font-size: 20px;*/
/*}*/

/*.app-header .app-header__content .header-menu .nav-link i {*/
/*    color: #ffffff;*/
/*}*/

/*.nav-link .nav-link-icon {*/
/*    opacity: 1;*/
/*    font-size: 24px;*/
/*}*/

/*.app-header .app-header__content .header-menu .nav-link:hover {*/
/*    color: #ffffff;*/
/*    font-weight: bold;*/
/*}*/

/*Header Bar Style End*/

.blockElement {
    border: none !important;
    background: none !important;
}

@keyframes line-scale-pulse-out {
    0% {
        transform: scaley(1)
    }
    50% {
        transform: scaley(0.4)
    }
    100% {
        transform: scaley(1)
    }
}

.line-scale-pulse-out > div {
    background-color: #3f6ad8;
    width: 4px;
    height: 35px;
    border-radius: 2px;
    margin: 2px;
    animation-fill-mode: both;
    display: inline-block;
    animation: line-scale-pulse-out 0.9s -.6s infinite cubic-bezier(0.85, 0.25, 0.37, 0.85)
}

.line-scale-pulse-out > div:nth-child(2), .line-scale-pulse-out > div:nth-child(4) {
    animation-delay: -.4s !important
}

.line-scale-pulse-out > div:nth-child(1), .line-scale-pulse-out > div:nth-child(5) {
    animation-delay: -.2s !important
}

@keyframes line-scale-pulse-out-rapid {
    0% {
        transform: scaley(1)
    }
    80% {
        transform: scaley(0.3)
    }
    90% {
        transform: scaley(1)
    }
}

.line-scale-pulse-out-rapid > div {
    background-color: #3f6ad8;
    width: 4px;
    height: 35px;
    border-radius: 2px;
    margin: 2px;
    animation-fill-mode: both;
    display: inline-block;
    vertical-align: middle;
    animation: line-scale-pulse-out-rapid 0.9s -0.5s infinite cubic-bezier(0.11, 0.49, 0.38, 0.78)
}

.line-scale-pulse-out-rapid > div:nth-child(2), .line-scale-pulse-out-rapid > div:nth-child(4) {
    animation-delay: -0.25s !important
}

.line-scale-pulse-out-rapid > div:nth-child(1), .line-scale-pulse-out-rapid > div:nth-child(5) {
    animation-delay: 0s !important
}
