@charset "UTF-8";

@font-face {
  font-family: "gobumpr-icons";
  src:url("fonts/gobumpr-icons.eot?car_ac");
  src:url("fonts/gobumpr-icons.eot?car_ac") format("embedded-opentype"),
    url("fonts/gobumpr-icons.woff?car_ac") format("woff"),
    url("fonts/gobumpr-icons.ttf?car_ac") format("truetype"),
    url("fonts/gobumpr-icons.svg?car_ac") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "gobumpr-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "gobumpr-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youtube:before {
  content: "\61";
}
.icon-twitter:before {
  content: "\62";
}
.icon-linkedin:before {
  content: "\63";
}
.icon-instagram:before {
  content: "\64";
}
.icon-google-plus:before {
  content: "\65";
}
.icon-facebook:before {
  content: "\66";
}
.icon-email:before {
  content: "\67";
}
.icon-android:before {
  content: "\68";
}
.icon-car:before {
  content: "\69";
}
.icon-motorbike:before {
  content: "\6a";
}
.icon-blog:before {
  content: "\6b";
}
.icon-mobile:before {
  content: "\6c";
}
.icon-address:before {
  content: "\6d";
}
.icon-car-general-service:before {
  content: "\6e";
}
.icon-car-wash:before {
  content: "\6f";
}
.icon-car-breakdown:before {
  content: "\70";
}
.icon-tyre-puncture:before {
  content: "\71";
}
.icon-diagnostics:before {
  content: "\72";
}
.icon-bike-general-service:before {
  content: "\73";
}
.icon-bike-wash:before {
  content: "\74";
}
.icon-bike-breakdown-assistance:before {
  content: "\75";
}
.icon-calendar:before {
  content: "\76";
}
.icon-star:before {
  content: "\77";
}
.icon-since:before {
  content: "\79";
}
.icon-24x7-phone:before {
  content: "\44";
}
.icon-up-arrow:before {
  content: "\45";
}
.icon-tick-mark:before {
  content: "\46";
}
.icon-filter:before {
  content: "\47";
}
.icon-left-arrow:before {
  content: "\48";
}
.icon-map-pin:before {
  content: "\49";
}
.icon-search:before {
  content: "\4a";
}
.icon-authorized:before {
  content: "\4d";
}
.icon-right-arrow:before {
  content: "\4e";
}
.icon-badge:before {
  content: "\78";
}
.icon-multi-brand:before {
  content: "\7a";
}
.icon-tinkering-painting:before {
  content: "\41";
}
.icon-tag:before {
  content: "\42";
}
.icon-sqft:before {
  content: "\43";
}
.icon-pickup:before {
  content: "\4b";
}
.icon-pay-online:before {
  content: "\4f";
}
.icon-offers:before {
  content: "\50";
}
.icon-number-mechanics:before {
  content: "\51";
}
.icon-new-battery:before {
  content: "\52";
}
.icon-tyres:before {
  content: "\53";
}
.icon-bike-brake-chain:before {
  content: "\54";
}
.icon-bike-engine-oil:before {
  content: "\56";
}
.icon-bike-engine-repair:before {
  content: "\57";
}
.icon-bike-other-repair:before {
  content: "\58";
}
.icon-car-wheel-alignment:before {
  content: "\59";
}
.icon-car-other-repairs:before {
  content: "\5a";
}
.icon-car-doorstep-polishing:before {
  content: "\30";
}
.icon-car-doorstep-interior-detailing:before {
  content: "\31";
}
.icon-car-ac-service:before {
  content: "\32";
}
.icon-bike-other-repairs:before {
  content: "\33";
}
.icon-half-star:before {
  content: "\34";
}
.icon-filled-star:before {
  content: "\35";
}
.icon-happy-delivery:before {
  content: "\36";
}
.icon-inspection-report:before {
  content: "\37";
}
.icon-plus:before {
  content: "\38";
}
.icon-edit:before {
  content: "\39";
}
.icon-check-in:before {
  content: "\21";
}
.icon-chat:before {
  content: "\22";
}
.icon-send:before {
  content: "\23";
}
.icon-service-in-progress:before {
  content: "\24";
}
.icon-discounts:before {
  content: "\25";
}
.icon-home:before {
  content: "\26";
}
.icon-pick-up-drop:before {
  content: "\27";
}
.icon-down-arrow:before {
  content: "\28";
}
.icon-car-headlamp:before {
  content: "\29";
}
.icon-question-mark:before {
  content: "\2b";
}
.icon-close:before {
  content: "\4c";
}
.icon-complate-car-spa-new:before {
  content: "\2a";
}
.icon-bike-clutch:before {
  content: "\55";
}
.icon-coimbatore-city:before {
  content: "\2c";
}
.icon-chennai-city:before {
  content: "\2d";
}
.icon-coimbatore-underline:before {
  content: "\2e";
}
.icon-full-body-painting:before {
  content: "\2f";
}
.icon-ac-gas:before {
  content: "\3a";
}
