@font-face {
	font-family: 'Bebas Neue';
	src: url('fonts/BebasNeue.otf');
}

@media (min-width: 768px) {
	body {
		background-image: url('../img/background.png');
		background-size: contain;
	}
	.root-container {
		width: 768px !important;
		margin: 0 auto !important;
	}
}
#CallBtn {
	width:75px;
	float:left;
}
html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding:0;
}

body {
	background-image: url('../img/background-medium.png'); 
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}

* {
	font-family: "Montserrat",Arial,sans-serif!important;
	color: #565a5c;
	font-size: 13px;
}
.fa-send {
	color: #000;
	border-left:0;
}
#callLink {
	text-align: right;
	margin: 0;
	padding: 0;
	padding-left: 5px;
	color: rgb(253, 167, 41);
}
.round-button {
	width:20%;
	float:right;
}
.round-button-circle {
	width:15%;
	height:0;
	padding-bottom:15%;
    border-radius: 50%;
    overflow:hidden;
    background: rgb(253, 167, 41); 
}
.round-button-circle:hover {
	background:rgb(253, 167, 41);
}
.round-button a {
    display:block;
	float:left;
	line-height:1em;
	margin-top:-0.5em;
	text-align:center;
	color:#e2eaf3;
    font-size:1.2em;
    font-weight:bold;
    text-decoration:none;
}
#chatLink {
	text-align: left;
	margin: 0;
	float:left;
}
.send {
	height:50px;
	width:40px;
	position:relative;
	border: solid 1px #eee;
}
#chatButtonSmall {
	position:absolute;
	font-size: 15px !important;
	width:75px !important;
}
.chat {
	position: fixed;
    bottom:0;
	right:10%;
    width: 23%;
}
.MsgTime {
	color:#000;
	float:right;
	font-size:10px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.chatbox {
	text-decoration:none;
	background-color:rgb(253, 167, 41);
	box-shadow:none;
	text-shadow:none;
	display:block;
	text-align:center;
	vertical-align: middle;
	padding-top: 10px;
	border-radius:5px;
	-webkit-transition: top 1s;
    -moz-transition: top 1s;
    -o-transition: top 1s;
    transition: top 1s;}
#chatButton {
	width: 310px;
	text-align:left;
	height: 40px !important;
	font-size:25px !important;
}
.chatRoundImg {
	position:fixed;
}
.chatbtn {
	background-color:rgb(253, 167, 41) !important;
	color:#000 !important;
}
.btn-primary {
    background: rgb(253, 167, 41) !important;
	border-color:transparent !important;
	outline:0 !important;
	border:0 !important;
	width: 150px;
	font-size:20px !important;
    color: #000;
}

.user_input {
	position: fixed;
	bottom:0;
    width: 23%;
}
#userText {
	height:50px;
	width:266px !important;
	display:block;
	border-right:0;
	padding-right: 60px;
	color:#000;
 	font-family:arial,sans-serif;
}
.input-group {
	display:block !important;
}
.panel-body {
	border:0 !important;
	padding:0 !important;
}
.panel-heading {
	border:0 !important;
	padding:0 !important;
}
.btn-primary:hover,.btn-primary:focus, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: rgb(253, 167, 41) !important;
	border-color:transparent !important;
	outline:0 !important;
	border:0 !important;
}
 
.btn-primary:active, .btn-primary.active {
    background: rgb(253, 167, 41) !important;
	border-color:transparent !important;
	outline:0 !important;
	border:0 !important;
    box-shadow: none;
}
.chatWndw {
	width:310px;
	height: 300px;
	max-height: 300px;
	overflow:auto;
	overflow-x:hidden;
	display:block;
	background-color:rgb(46,45,45) !important;
}

#out_msg {
	font-size:13px;
	position:relative;
	font-family:arial,sans-serif;
	color:#000;
	text-align:left;
	word-wrap:break-word;
	background-color:#eee;
	padding: 5px 5px 12px 5px;
	margin: 10px -1px 12px 30px;
	border-radius: 5px;		
}
#in_msg {
	margin: 10px 30px 12px -1px;
	border-radius: 5px;
	font-size:13px;
	font-family:arial,sans-serif;
	padding: 8px 8px 12px 8px;
	text-align:left;
	position:relative;
	word-wrap:break-word;
	color:#000;
	background-color:#fff;
}
.bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.obg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

}
.black-translucent-box {
	background-color: rgba(46,45,45, 0.6);
	margin-bottom: 25px;
	padding-top: 6px;
}

.mechanic-info-header {
	/*background-image: url('../img/mechanic-bg.png');*/
	height: 250px;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	margin-bottom: 25px;
}

.mechanic-info-header .rating-container.rating-md {
	font-size: 22px;
	display: inline-block;
}

.mechanic-info-header .ratings-box span.ratings-count {
    position: relative;
    display: inline-block;
    top: -5px;
    left: 2px;
}

.rating-container span.star i {
	color: rgb(253, 167, 41) !important;
}

.rating-container .clear-rating i {
	font-size: 18px;
	position: relative;
	top: -1px;
	color: #735555;
}

.mechanic-info-header .black-translucent-box {
	position: absolute;
	bottom: 0;
	width: 100%;
	margin-bottom: 0;
}

div.right-align-label {
	text-align: right;
	margin: 0;
	padding: 0;
}

div.left-align-value {
	text-align: left;
	margin: 0;
	padding: 0;
	padding-left: 5px;
	color: rgb(253, 167, 41);
}

.right-align-label:after {
	content: '|';
	margin: 0;
	padding: 0;
}

.mechanic-name {
	font-size: 26px;
}

.tracking-status-container ul {
	list-style-type: none;
	margin-left: 0px;
}

.tracking-status-container ul li.step.completed {
	color: rgb(253, 167, 41);
	background-image: url('../img/completed.png');
	background-size: 32px 32px;
	background-position: 0px 2px;
}

.tracking-status-container ul li.step {
	background-image: url('../img/not-completed.png');
	background-repeat: no-repeat;
	padding-left: 45px;
	font-size: 24px;
	vertical-align: middle !important;
	margin-bottom: 10px;
	padding-top: 3px;
}

.tracking-status-container ul li.step .additional-info-icons>span {
	position: relative;
	display: inline-block;
	margin-right: 10px;
	cursor: pointer;
	font-size: 28px;
}

.tracking-status-container ul li.step .count-badge {
	font-size: 13px;
	border-radius: 50%;
	background-color: rgb(253, 167, 41);
	padding: 4px 5px 0 5px;
	height: 16px;
	display: inline-block;
	position: absolute;
	top: -3px;
	right: -6px;
	line-height: 13px;
}

.feedback-container {
	text-align: center;
	padding-bottom: 15px;
}

.feedback-container textarea {
	background-color: white;
	color: black;
	width: 100%;
	height: 100px;
	border-radius:3px; 
	font-family: sans-serif;
	font-size: 14px;
}

.feedback-container button {
	border: none;
	background-color: rgb(253,167,41);
	color: black;
	width: 110px;
	border-radius: 5px;
	vertical-align: middle;
	line-height: 20px;
	font-size: 20px;
	padding-top: 8px;
	box-shadow: 2px 4px 2px 2px;
}

.gobumpr-modal .modal-content {
	border-radius: 0;
	background-color: rgba(45,45,45, 0.8);
}

.gobumpr-modal.text-modal .modal-content {
	max-height: 350px;
	margin-top: 70px;
}

.gobumpr-modal.text-modal .modal-body {
	overflow-y: scroll;
	max-height: 150px;
	padding-left: 40px;
	margin-bottom: 30px;
	margin-top: 12px;
	margin-right: 30px;
}

.gobumpr-modal.text-modal .modal-body ul {
	list-style-type: circle;
	margin: 0;
	padding: 0;
}

.gobumpr-modal.text-modal .modal-body ul li {
	padding: 0;
	margin: 0;
}

.gobumpr-modal.images-modal .modal-body {
	height: 330px;
}

.gobumpr-modal .modal-title {
	text-align: center;
}

.gobumpr-modal .carousel-inner {
	overflow: hidden;
	height: 300px;
}

.gobumpr-modal .carousel-inner .item {
	text-align: center;
	height: 300px;
	position: relative;
	line-height: 300px;
}
.gobumpr-modal .carousel-inner .item img {
	text-align: center;
	display: inline-block;
}
.carousel-control .icon-prev, .carousel-control .icon-next {
	font-size: 32px;
}
.carousel-control {
	background-image: none !important;
}

@media only screen 
  and (min-width:550px) and (max-width:991px) {
	  .chat {
		  width: 60%;
		  right:0;
	  }
	  .chatWndw {
		  width:100%;
		  margin-bottom: 50px;
	  }
	#chatRoundbutton {
		float:right;
	}
	#ChatImg {
		right:0;
		position:fixed;
		bottom:0;
		margin:0;
		padding:0;
	}
	.roundBtn {
		position: relative;
		display:block;
	}
	.imgBadge {
		position: absolute;
		display:inline-block;
		right:0;
		bottom:0;
		margin:0;
	}
	#msgs_badge {
		position: fixed;
		bottom: 50px;
		right: 2px;
	}
	  .user_input {
		  position:fixed;
		  width:95% !important;
		  bottom:0;
		  margin-right:0;
	  }
	  #userText {
		  width: 84% !important;
	  }
	  .form-control {
		  width: 84% !important;
	  }
	  #chatButton {
		  width:100% !important;
	  }
	  .send {
		  width:15% !important;
		  margin-right:0;
	  }
  }
	  
@media only screen 
  and (min-width:991px) and (max-width:1366px) {
	  #chatButton {
		  width:100%;
	  }
	#chatRoundbutton {
		right:1%;
		float:right;
		position:fixed;
	}
	  .chatWndw {
		  width:100%;
	  }
	  #userText {
		  width: 84% !important;
	  }
	  .send {
		  width:16% !important;
		  margin-right:0;
	  }

  }
	  
@media only screen and (min-width:100px) and (max-width:550px) {
	  body{
		  overflow-x:hidden;
	  }
	  .chat {
		  width:95%;
		  right:0;
	  }
	  .chatWndw {
		  width:100%;
		  margin-bottom: 50px;
	  }
	#chatRoundbutton {
		float:right;
	}
	#ChatImg {
		right:0;
		position:fixed;
		bottom:0;
		margin:0;
		padding:0;
	}
	.roundBtn {
		position: relative;
		display:block;
	}
	.imgBadge {
		position: absolute;
		display:inline-block;
		right:0;
		bottom:0;
		margin:0;
	}
	#msgs_badge {
		position: fixed;
		bottom: 50px;
		right: 2px;
	}
	  .user_input {
		  position:fixed;
		  width:95% !important;
		  bottom:0;
		  margin-right:0;
	  }
	  #userText {
		  width: 84% !important;
	  }
	  .form-control {
		  width: 84% !important;
	  }
	  #chatButton {
		  width:100% !important;
	  }
	  .send {
		  width:15% !important;
		  margin-right:0;
	  }
	

 
}
#next_service_date{
    list-style-type: none;
    margin:-10px;
}
.customer_details{
    font-size:20px;
}
#total_cost{
    padding-left:20px;
}
#cost_table{
    margin-left:30px;
    margin-bottom:30px;
    width:50%;
    text-align:center;
    border-bottom:1px solid #929690;
}
#cost_table thead{
    border-bottom:1px solid #929690;
    border-top:1px solid #929690;
  
    background-color:#a7ada4;
   
}
#cost_table thead tr td{
     color:white;
       font-size:13px;
}
#cost_table tbody tr{
    background-color:#f8f9f7;
}
#cost_table thead tr td,#total_cost td{
    padding:5px 0px;
}
td{
    padding:4px 0px;
}
#status_of_repair li{
    list-style-type:none;
}
.customer_remarks{
    border-left:3px solid #ccceca;
    background-color:#fcfcfc;
    list-style-type:none;
    margin:10px 10px 10px 0px;
    padding:5px;
}
.unicode{
    font-size:16px !important;
    padding:10px;
    font-weight:bold;
}
.list-group{
    margin:10px;
}
.list-group-item{
    width:50%;
    padding:3px!important;
    border:1px solid #f3f0f0;
}
.list-group-item .repairs_name{
    font-weight:bold;
}