/*Custom CSS Styles*/
.app-header__logo .logo-src {
    height: 100%;
    width: 175px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.was-validated .form-control:invalid, .form-control.is-invalid, .was-validated .form-control:valid, .form-control.is-valid {
    background-image: none;
}

.app-page-title .page-title-icon {
    padding: .53333rem;
    margin: 0 15px 0 0;
    width: 50px;
    height: 50px;
}

.app-theme-white.app-container {
    background: rgba(255, 255, 255, 0.45);
}


.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 38px;
    user-select: none;
    -webkit-user-select: none;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 36px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 36px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px;
}

.vertical-nav-menu li a.mm-active {
    color: #ffffff;
    background: #3f6ad8;
    font-weight: bold;
}

.vertical-nav-menu i.metismenu-state-icon,
.vertical-nav-menu i.metismenu-icon {
    opacity: .7;
}

.bg-yellow {
    background-color: #ffff0045;
    color: #000000;
}

.bg-green {
    background-color: #0080003d;
    color: #000000;
}

.bg-red {
    background-color: #ff000054;
    color: #000000;
}

.infoBox img {
    position: absolute!important;
    right: 15px;
    z-index: 9999;
}

.square-box {
    /*float: left;*/
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
    border: 1px solid rgba(0, 0, 0, .2);
}

.select2-container{
    display: flex;
    width: 100%!important;
}

.select2-container .selection{
    width: 100%;
}

.pointer{
    cursor: pointer;
}
