@-webkit-keyframes lds-ring {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes lds-ring {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes blink {
    0%,
    to {
        opacity: .2
    }
    20% {
        opacity: 1
    }
}

body,
html {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    min-height: 100%
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #e6e6e6
}

.white_background {
    background-color: #fff
}

#gobumpr_logo {
    width: 200px;
    margin: 10px auto
}

.navbar_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

#help_button {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 40px
}

.fa-user-circle {
    font-size: 40px
}

#id_mobile_display p {
    padding-bottom: 0;
    margin-bottom: 0
}

.col-xs-4 {
    margin-right: 0;
    padding-right: 0
}

#info {
    background-color: #ffa800;
    color: #fff;
    padding: 5px 0;
    margin: 0
}

#info p {
    margin-bottom: 0
}

.fa-info-circle {
    padding-right: 5px;
    font-size: 15px
}

#auction_details {
    background-color: #e6e6e6;
    text-align: center;
    padding-top: 20px
}

#timer {
    display: inline-block;
    text-align: center;
    padding: 10px
}

#beautify {
    border-radius: 8px;
    padding-top: 10px;
    border: 2px solid #c1baba
}

.fa-phone {
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1)
}

.ones_minutes,
.ones_seconds,
.tens_minutes,
.tens_seconds {
    background-color: #000;
    color: #fff;
    margin: 2px;
    border-radius: 3px;
    font-size: 3.5em;
    padding: 5px;
    display: inline-block;
    width: 40px
}

.time-left {
    padding: 0 5px
}

.colon {
    font-size: 3.5em
}

.colon,
.dealer_basic_location {
    color: #000
}

.dealer_basic_location_place {
    color: #000;
    font-weight: 700
}

.dealer_basic_price {
    font-size: 3.5rem;
    color: #0d7b0c;
    font-weight: 700
}

.dealer_basic_price p {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}

.thank-you-img {
    width: 10%
}

.thank-you-text {
    text-align: left;
    padding-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

@media (max-width:1023px) {
    .colon,
    .ones_minutes,
    .ones_seconds,
    .tens_minutes,
    .tens_seconds {
        font-size: 2em;
        width: 35px
    }
    .dealer_basic_details,
    .dealer_basic_details_more {
        margin: 15px auto
    }
    .thank-you-text {
        margin-left: 0
    }
}

.footer {
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px
}

.selected_deal {
    -webkit-box-shadow: none;
    box-shadow: none
}

.auction_gavel_img {
    width: 50%
}

.display_flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.get_button,
.get_button:focus,
.get_button:hover {
    background-color: #0d7b0c;
    border-radius: 0;
    color: #fff;
    padding: 2px 30px;
    border: 0;
    margin-top: 10%
}

.get_button::click,
.get_button:focus {
    outline: 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none
}

button {
    outline: 0
}

.thank-you-img {
    color: #fff
}

footer {
    width: 100%
}

.footer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

@media (min-width:375px) and (max-width:514px) {
    .thank-you-img {
        width: 25%
    }
}

@media (min-width:514px) and (max-width:654px) {
    .thank-you-img {
        width: 50%
    }
}

@media (max-width:374px) {
    .thank-you-img {
        width: 30%
    }
    .thank-you-text p {
        font-size: 10px
    }
}

::-moz-selection {
    background-color: #ffa800;
    color: #fff
}

::selection {
    background-color: #ffa800;
    color: #fff
}

.time-elapsed {
    margin-bottom: 0;
    padding: 20px 10px
}

.visible {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 10px
}

.auctioneers_list_item {
    padding: 0
}

.more_details {
    border-top: 1px solid #565555
}

.deal_price {
    font-size: 3.5rem;
    color: #ffa800;
    font-weight: 700
}

.deal_place {
    font-weight: 700;
    text-transform: capitalize
}

.location_icon {
    width: 18px;
    margin-right: 2px
}

.tap_icon {
    width: 12px
}

.view_more {
    font-weight: 700;
    padding-top: 2px
}

.phone_white {
    width: 12px
}

.selected_more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 5px 20px
}

.contact_btn,
.contact_btn:active,
.contact_btn:focus,
.contact_btn:hover {
    color: #fff;
    background-color: #008d00;
    font-weight: 500;
    outline: 0;
    font-size: 18px;
    margin-top: -10px
}

.address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
    -ms-flex-line-pack: center;
    align-content: center
}

.text-left {
    padding-left: 20px;
    color: #000;
    font-weight: 700;
    text-transform: capitalize
}

.display_none {
    opacity: 0;
    height: 0;
    display: none!important
}

.display_block {
    opacity: 1;
    height: auto
}

.time_image {
    width: 20px
}

.green_text {
    color: #008d00
}

#auctioneers_list .row,
.text {
    margin: 0 auto
}

.text {
    width: 90%;
    background-color: #fff;
    -webkit-box-shadow: 4px 4px 5px 0 rgba(147, 138, 136, .75);
    box-shadow: 4px 4px 5px 0 rgba(147, 138, 136, .75)
}

.dealer_details {
    height: 130px
}

@media (max-width:768px) {
    .text {
        width: 100%
    }
    .deal_price {
        font-size: 3rem
    }
    .visible div {
        font-size: 10px
    }
    .visible {
        padding: 5px 5px 0
    }
    .view_more {
        font-size: 10px;
        padding: 5px
    }
    .tap_icon {
        width: 10px
    }
    #info,
    .address {
        font-size: 10px
    }
    .text-left {
        font-size: 13px;
        margin-bottom: 0
    }
    .contact_btn {
        padding: 4px
    }
    .selected_more {
        padding: 5px
    }
    .fa-info-circle {
        font-size: 13px
    }
    #id_mobile_display p {
        font-size: 12px
    }
    .fa-user-circle {
        font-size: 35px
    }
    .dealer_details {
        height: 90px
    }
}

#user_details_display {
    padding: 10px
}

.click_select {
    color: #000;
    font-weight: 700
}

.deal_price {
    margin-top: 5px;
    margin-bottom: 0
}

.col-xs-3 {
    padding-right: 0;
    padding-left: 0
}

.view_more,
.view_more:hover {
    background-color: #008d00;
    color: #fff;
    text-transform: capitalize
}

.view_more_ins {
    padding: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 5px 5px
}

.contact_btn a {
    text-decoration: none;
    color: #fff
}

.masked .visible>p {
    text-indent: -9999px;
    line-height: 0
}

.masked .visible>p:after {
    text-indent: 0;
    content: "XXXX";
    color: #868686;
    background-color: #00000052;
    line-height: initial;
    display: block;
    font-weight: 400;
    font-size: 3.5rem
}

.masked .click_select,
.masked .view_more {
    text-indent: -9999px;
    margin-bottom: 0;
    line-height: 0
}

.masked .view_more {
    background-color: transparent;
    line-height: 1
}

.masked .click_select:after {
    line-height: 1
}

.masked .click_select:after,
.masked .view_more:after {
    text-indent: 0;
    content: "X XXXXXX";
    color: #868686;
    background-color: #00000052;
    display: block;
    font-weight: 400
}

.masked .view_more_ins {
    margin-top: 0;
    padding-top: 0
}

.masked .view_more:click {
    outline: 0
}

.masked .text {
    opacity: .6
}

.lds-ring {
    display: block;
    width: 64px;
    height: 64px;
    text-align: center;
    margin: 20px auto
}

.lds-ring div {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #ffa800;
    border-radius: 50%;
    -webkit-animation: lds-ring 1.2s cubic-bezier(.5, 0, .5, 1) infinite;
    animation: lds-ring 1.2s cubic-bezier(.5, 0, .5, 1) infinite;
    border-color: #ffa800 transparent transparent
}

.lds-ring div:nth-child(1) {
    -webkit-animation-delay: -.45s;
    animation-delay: -.45s
}

.lds-ring div:nth-child(2) {
    -webkit-animation-delay: -.3s;
    animation-delay: -.3s
}

.lds-ring div:nth-child(3) {
    -webkit-animation-delay: -.15s;
    animation-delay: -.15s
}

.show-more,
.show-more:active,
.show-more:hover {
    background-color: #ffa800;
    color: #fff;
    margin: 15px
}

.click_select,
.visible p {
    margin-bottom: 0
}

.opacity {
    opacity: .3
}

@media (max-width:425px) {
    .navbar_content {
        display: block;
        text-align: center;
        margin: 0 auto
    }
    #gobumpr_logo {
        width: 38%
    }
}

.visible p {
    padding-top: 7px
}

.loading span {
    animation-name: blink;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    font-size: 45px
}

.loading span:nth-child(1) {
    margin-left: 5px
}

.loading span:nth-child(2) {
    animation-delay: .2s
}

.loading span:nth-child(3) {
    animation-delay: .4s
}