@font-face {
	font-family: 'Bebas Neue';
	src: url('fonts/BebasNeue.otf');
}

@media (min-width: 768px) {
	body {
		background-image: url('../img/background.png') !important;
		background-size: contain;
	}
	.root-container {
		width: 768px !important;
		margin: 0 auto !important;
	}
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding:0;
}

body {
	background-image: url('../img/background-medium.png'); 
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}

* {
	font-family: "Bebas Neue";
	color: white;
	font-size: 16px;
}

.black-translucent-box {
	background-color: rgba(46,45,45, 0.6);
	margin-bottom: 25px;
	padding-top: 6px;
}

.mechanic-info-header {
	/*background-image: url('../img/mechanic-bg.png');*/
	height: 250px;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	margin-bottom: 25px;
}

.mechanic-info-header .rating-container.rating-md {
	font-size: 22px;
	display: inline-block;
}

.mechanic-info-header .ratings-box span.ratings-count {
    position: relative;
    display: inline-block;
    top: -5px;
    left: 2px;
}

.rating-container span.star i {
	color: rgb(253, 167, 41) !important;
}

.rating-container .clear-rating i {
	font-size: 18px;
	position: relative;
	top: -1px;
	color: #735555;
}

.mechanic-info-header .black-translucent-box {
	position: absolute;
	bottom: 0;
	width: 100%;
	margin-bottom: 0;
}

div.right-align-label {
	text-align: right;
	margin: 0;
	padding: 0;
}

div.left-align-value {
	text-align: left;
	margin: 0;
	padding: 0;
	padding-left: 5px;
	color: rgb(253, 167, 41);
}

.right-align-label:after {
	content: '|';
	margin: 0;
	padding: 0;
}

.mechanic-name {
	font-size: 26px;
}

.tracking-status-container ul {
	list-style-type: none;
	margin-left: 0px;
}

.tracking-status-container ul li.step.completed {
	color: rgb(253, 167, 41);
	background-image: url('../img/completed.png');
	background-size: 32px 32px;
	background-position: 0px 2px;
}

.tracking-status-container ul li.step {
	background-image: url('../img/not-completed.png');
	background-repeat: no-repeat;
	padding-left: 45px;
	font-size: 24px;
	vertical-align: middle !important;
	margin-bottom: 10px;
	padding-top: 3px;
}

.tracking-status-container ul li.step .additional-info-icons>span {
	position: relative;
	display: inline-block;
	margin-right: 10px;
	cursor: pointer;
	font-size: 28px;
}

.tracking-status-container ul li.step .count-badge {
	font-size: 13px;
	border-radius: 50%;
	background-color: rgb(253, 167, 41);
	padding: 4px 5px 0 5px;
	height: 16px;
	display: inline-block;
	position: absolute;
	top: -3px;
	right: -6px;
	line-height: 13px;
}

.feedback-container {
	text-align: center;
	padding-bottom: 15px;
}

.feedback-container textarea {
	background-color: white;
	color: black;
	width: 100%;
	height: 100px;
	border-radius:3px; 
	font-family: sans-serif;
	font-size: 14px;
}

.feedback-container button {
	border: none;
	background-color: rgb(253,167,41);
	color: black;
	width: 110px;
	border-radius: 5px;
	vertical-align: middle;
	line-height: 20px;
	font-size: 20px;
	padding-top: 8px;
	box-shadow: 2px 4px 2px 2px;
}

.gobumpr-modal .modal-content {
	border-radius: 0;
	background-color: rgba(45,45,45, 0.8);
}

.gobumpr-modal.text-modal .modal-content {
	max-height: 350px;
	margin-top: 70px;
}

.gobumpr-modal.text-modal .modal-body {
	overflow-y: scroll;
	max-height: 150px;
	padding-left: 40px;
	margin-bottom: 30px;
	margin-top: 12px;
	margin-right: 30px;
}

.gobumpr-modal.text-modal .modal-body ul {
	list-style-type: circle;
	margin: 0;
	padding: 0;
}

.gobumpr-modal.text-modal .modal-body ul li {
	padding: 0;
	margin: 0;
}

.gobumpr-modal.images-modal .modal-body {
	height: 330px;
}

.gobumpr-modal .modal-title {
	text-align: center;
}

.gobumpr-modal .carousel-inner {
	overflow: hidden;
	height: 300px;
}

.gobumpr-modal .carousel-inner .item {
	text-align: center;
	height: 300px;
	position: relative;
	line-height: 300px;
}
.gobumpr-modal .carousel-inner .item img {
	text-align: center;
	display: inline-block;
}
.carousel-control .icon-prev, .carousel-control .icon-next {
	font-size: 32px;
}
.carousel-control {
	background-image: none !important;
}