body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f2f2f2;
    overflow-x: hidden;
    width: 100vw
}

p {
    margin: 0;
    font-size: 1em;
    line-height: 2
}

.gobumpr_logo {
    width: 18%
}

.check {
    width: 9%;
    margin-top: 20px;
    margin-bottom: 20px
}

.relax_image {
    width: 25%
}

@media (min-width:690px) and (max-width:991px) {
    .gobumpr_logo {
        width: 25%
    }
    .check {
        width: 14%
    }
    .relax_image {
        width: 40%;
        margin-top: 3%
    }
}

@media (min-width:490px) and (max-width:689px) {
    .gobumpr_logo {
        width: 35%
    }
    .check {
        width: 18%
    }
    .relax_image {
        width: 50%;
        margin-top: 10%
    }
}

.text_content {
    font-weight: 800
}

.footer {
    background-color: #f2f2f2;
    padding: 30px;
    color: #7c7c7c
}

#enquiry_received,
nav {
    background-color: #fff
}

nav {
    margin: 0;
    padding: 10px
}

#enquiry_received {
    padding-bottom: 20px
}

@media (max-width:489px) {
    .gobumpr_logo {
        width: 38%
    }
    .check {
        width: 23%
    }
    .footer {
        padding: 30px 0
    }
    .relax_image {
        width: 70%;
        margin-top: 30%
    }
}

strong {
    font-weight: 700
}

#enquiry_received .col-xs-6 {
    padding: 2px
}

.booking_details {
    padding-bottom: 10px
}

::-moz-selection {
    background-color: #ffa800;
    color: #fff
}

::selection {
    background-color: #ffa800;
    color: #fff
}