@font-face{font-family:'Glyphter';src:url('../fonts/Glyphter.eot');src:url('../fonts/Glyphter.eot?#iefix') format('embedded-opentype'),
url('../fonts/Glyphter.woff') format('woff'),
url('../fonts/Glyphter.ttf') format('truetype'),
url('../fonts/Glyphter.svg#Glyphter') format('svg');font-weight:normal;font-style:normal;}
[class*='icon_set_3']:before{display:inline-block;font-family:'Glyphter';font-style:normal;font-weight:normal;margin-left:5px;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.icon_set_3_restaurant-1:before{content:'\0041';}
.icon_set_3_restaurant-2:before{content:'\0042';}
.icon_set_3_restaurant-3:before{content:'\0043';}
.icon_set_3_restaurant-4:before{content:'\0044';}
.icon_set_3_restaurant-5:before{content:'\0045';}
.icon_set_3_restaurant-6:before{content:'\0046';}
.icon_set_3_restaurant-7:before{content:'\0047';}
.icon_set_3_restaurant-8:before{content:'\0048';}
.icon_set_3_restaurant-9:before{content:'\0049';}
.icon_set_3_restaurant-10:before{content:'\004A';}
.icon_set_3_restaurant-11:before{content:'\004B';}