@charset "utf-8";
/* CSS Document */

header {
    width: 100%;
    z-index: 99999;
    padding: 10px 0;
	display:block;
    position: fixed;
    left: 0;
    top: 0;
}
.white_bg {
    background-color: #fff;
}
.margin_30 {
    margin-top: 30px;
    margin-bottom: 30px;
}
.tabs {
    position: relative;
    width: 100%;
    overflow: visible;
    margin-bottom: 45px;
}
.main_title {
    text-align: center;
    font-size: 16px;
    margin-bottom: 30px;
}
#search .nav-tabs {
    border-radius: 0;
    font-size: 12px;
    border: 0;
    border-bottom: 1px solid transparent;
    margin-left: 10px;
}
#search .nav-tabs, .badge_save, .plan-title, .promo_full_wp div h3 {
    text-transform: uppercase;
}
.nav-tabs {
    border-bottom: 1px solid #ddd;
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
ul {
    margin-top: 0;
}
.nav:before {
    display: table;
    content: " ";
}
.nav>li, .nav>li>a {
    display: block;
    position: relative;
}

#search .nav-tabs>li.active>a, #search .nav-tabs>li.active>a:focus, #search .nav-tabs>li.active>a:hover {
    color: #fff;
    background-color: #ffa800;
}
#search .nav-tabs>li>a {
    border-radius: 0;
    border: 0;
    color: #fff!important;
    background: rgba(0,0,0,.4);
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}
.nav>li>a {
    padding: 10px 15px;
}
.nav>li, .nav>li>a {
    display: block;
    position: relative;
}
a {
    color: #ffa80;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    outline: 0;
}
.dd-option, a, a.bt_facebook, a.bt_paypal, a:focus, a:hover {
    text-decoration: none;
}
a {
    color: #ffa800;
    text-decoration: none;
}
a {
    background-color: transparent;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#search .nav-tabs {
    border-radius: 0;
    font-size: 12px;
    border: 0;
    border-bottom: 1px solid transparent;
    margin-left: 10px;
}
#search .nav-tabs, .badge_save, .plan-title, .promo_full_wp div h3 {
    text-transform: uppercase;
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
#search_container {
    position: relative;
    background: url(/img/gobumpr/car.jpg) center top no-repeat #9c9a99;
    background-size: cover;
    color: #fff;
    width: 100%;
    min-height: 200px;
    height: calc(130vh - 80px * 2 - 166px);
    display: table;
    z-index: 99;
}
body {
    background: #fff;
    font-size: 12px;
    line-height: 20px;
    font-family: Montserrat,Arial,sans-serif;
    color: #565a5c;
}
body, h1, h2, h3, h4, h5, h6 {
    -webkit-font-smoothing: antialiased;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}
.nav:after {
    clear: both;
}
#search {
    display: table-cell;
    vertical-align: middle;
    padding: 100px 20% 0;
}	
#bike_text, #car_text {
    float: left;
    position: absolute;
    margin: 8% 0 0 22%;
}
#search .tab-content {
    border-radius: 0;
    border: 0;
    color: #333;
}
.tab-content {
    border-radius: 4px 4px 3px 3px;
    padding-top: 14px;
    padding-left: 50px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-top: none;
    margin-bottom: 25px;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
}
.tab-content>.tab-pane {
     display: none; 
}
.tab-content>.active {
    display: block;
}
.tab-content>.tab-pane {
    display: none;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.row:before {
    display: table;
    content: " ";
}
