abbr,address,article,aside,audio,b,blockquote,body,canvas,caption,cite,code,dd,del,details,dfn,div,dl,dt,em,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,ul,var,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:0 0}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:0 0}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:700}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}
input,select{vertical-align:middle}li,ol,ul{list-style:none;}
html{height:100% !important;}
body{position:relative;height: 100% !important;min-width:100%;font-size:14px;}
#preloader{position:fixed;top:0;left:0;right:0;bottom:0;background-color:#fff;z-index:99;}
#status{width:520px;height:290px;position:absolute;left:50%;top:50%;background-image:url(../img/status.gif);background-repeat:no-repeat;background-position:center;margin:-145px 0 0 -260px;}
@font-face{font-family:'AR DESTINE';src:url('fonts/ARDESTINE.ttf');font-weight:smooth;font-style:Regular;}
@font-face{font-family:'Bebas Neue';src:url('fonts/BebasNeue.otf');font-weight:smooth;font-style:Regular;}
.cover{position:absolute;width:100%;height:100%;left:0px;top:0px;background-color:rgba(0, 46, 82, 0.15);padding:20px;}
.page{overflow:hidden;position:relative;min-width:100%;}
.page1{overflow:hidden;position:relative;}
*:focus{outline:none !important;box-shadow:none !important;}
body{font-family:'Roboto', Helvetica, Arial, sans-serif;}
h1, h2, h3, h4, h5, h6{font-family:'Roboto', Helvetica, Arial, sans-serif;font-weight:700;margin-bottom:10px;}
h1{font-size:36px;}

.quick-booking-panel h1 {
    font-family: 'Bebas Neue';
}
#new {
	display:block;
	font-size: 18px !important;
}
#zoomImg {
	margin-right: -30px !important;
}
@media (min-width:768px) {
#new {
	float:left;
	display:table-column;
}
.mob {
	display:none;
}
}
@media (min-width:200px) and (max-width:768px) {
#newLabel {
	position:relative;
	float:none;
	display:inline-block;
}
#newLink {
	display:none;
}
.mob {
	display:block;
}
.pc {
	margin-bottom: 7%;
}
#newLabel2 {
	font-size: 55% !important;
	vertical-align:top !important;
	font-weight:50 !important;
	padding:.3em .5em .2em .4em !important;
}
}
#MyNav {
	overflow-x:hidden;
	overflow-y:hidden;
}
#menu {
	text-align:right;
}
#myToggle {
	margin-top: 12px;
}
#myToggle .icon-bar {
	background-color:#ffa800 !important;
}
.newLabel {
	font-style:italic;
}
.label-default {
	background-color: transparent !important;
}
.label {
	font-size: 80% !important;
	vertical-align:middle !important;
	font-weight:100 !important;
	background-color:#ffa800 !important;
	padding: .3em .5em .4em !important;
}
label.vehicle-type-label {
    margin-right: 15px;
}
h2{font-size:30px;}
h3{font-size:26px;}
h4{font-size:22px;}
h5{font-size:18px;}
p{font:14px/1.5em "Roboto";}
.navbar-nav > li > a{font-family:"Lato", Helvetica, Arial, sans-serif;}
section{position:relative;}

section#download-1 .fp-tableCell {
    margin: 0px !important;
    padding: 0 !important;
}
.page-loader{position:fixed;left:0px;top:0px;width:100%;height:100%;z-index:99999;background:#FFF url(../img/page-loader.gif) center center no-repeat;}
.devider{width:100%;height:23px;background:url('../img/devider.png') no-repeat center center;margin:5px 0 10px;}
.thumbnail{padding:15px;margin-bottom:20px;background-color:#FFF;border:1px solid #DDD;-webkit-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;-ms-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;}
.form-control{-webkit-box-shadow:none;box-shadow:none;}
.parallax{position:relative;background-position:0 0;background-repeat:no-repeat;background-attachment:fixed;-webkit-background-size:cover;background-size:cover;}
#header{}
.text-main{color:#363940;}
.text-white{color:#FFF;}
.text-off-white{color:#e7e7e7;}
.text-dark{color:#000;}
.navbar{margin:0;border:none;-webkit-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;-ms-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;}
.navbar-brand{background-repeat:no-repeat;background-position:left center;width:80px;height:auto;padding:30px 0;text-indent:-99999px;font-size:24px;font-weight:600;line-height:20px;letter-spacing:4px;-webkit-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;-ms-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;}
.navbar-default .navbar-brand{background-image:url(../img/logo.png);background-size: contain;}
.navbar-shrink .navbar-brand{background-image:url(../img/logo.png);}
.navbar-transparent .navbar-brand{background-image:url(../img/logo.png);}
.navbar-inverse .navbar-brand{background-image:url(../img/logo.png);}
.navbar-nav > li > a{padding:24px 0;margin-left:25px;text-transform:uppercase;font-size:13px;font-weight:600;}
.dropdown-left{left:0 !important;right:auto !important;}
.dropdown-right{right:0 !important;left:auto !important;}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{background-color:transparent;}
.navbar-default .dropdown-menu{padding:10px 0;}
.dropdown-menu > li > a{padding:4px 20px;text-transform:uppercase;}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > li > a.active, .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus{text-decoration:none;background-color:transparent;}
.navbar-inverse .dropdown-menu{padding:10px 0;}
.navbar-fixed-top .container{-webkit-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;-ms-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;}
.navbar-shrink{z-index:9999;-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.12);-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.12);box-shadow:0 1px 3px rgba(0, 0, 0, 0.12);}
.navbar-shrink .navbar-brand{font-size:20px;}
.navbar-default.navbar-fixed-top.navbar-shrink .container{}
.navbar-fixed-top.navbar-shrink .container{padding-top:0 !important;padding-bottom:0 !important;}
.navbar-default.navbar-fixed-top.navbar-shrink .navbar-nav > li > a{padding-top:24px;padding-bottom:24px;}
.navbar-transparent{background-color:rgba(0, 0, 0, 0);}
.navbar-fixed-top.navbar-transparent .container{padding-top:30px;padding-bottom:0;}
.navbar-fixed-bottom.navbar-transparent .container{padding-top:0;padding-bottom:30px;}
.navbar-transparent .navbar-nav > li > a{color:#FFF;}
.navbar-transparent .navbar-brand, .navbar-transparent .navbar-brand:focus{color:#FFF;}
#text-carousel-intro-section{height:100%;}
#text-carousel-intro-section .container{height:100%;}
#text-carousel-intro-section .caption{position:relative;top:50%;margin-top:-70px;}
#text-carousel-intro-section .caption h1{margin-top:0;margin-bottom:5px;font-size:60px;text-transform:uppercase;text-shadow:1px 1px 1px rgba(0,0,0,0.3);}
#text-carousel-intro-section .caption p{letter-spacing:2px;font-size:16px;}
.rotate-box-1, .rotate-box-2{display:inline-block;margin:30px 0;-webkit-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;-ms-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;}
a.rotate-box-1, a.rotate-box-2{text-decoration:none;color:#363940;}
a.rotate-box-1:hover, a.rotate-box-2:hover{color:#676D75;}
.rotate-box-1 .rotate-box-icon{display:inline-block;text-align:center;margin-bottom:15px;margin-right:25px;margin-top:10px;float:left;-webkit-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;-ms-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;}
.rotate-box-1.square-icon .rotate-box-icon, .rotate-box-2.square-icon .rotate-box-icon{width:45px;height:45px;line-height:45px;color:#FFF !important;font-size:18px;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg);}
.rotate-box-1.square-icon .rotate-box-icon:after, .rotate-box-2.square-icon .rotate-box-icon:after{content:"";position:absolute;top:3px;right:3px;bottom:3px;left:3px;border:2px solid #FFF;}
.rotate-box-1:hover.square-icon .rotate-box-icon , .rotate-box-2:hover.square-icon .rotate-box-icon{-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg);}
.rotate-box-1.square-icon .rotate-box-icon .fa, .rotate-box-2.square-icon .rotate-box-icon .fa{-webkit-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;-ms-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg);}
.rotate-box-1:hover.square-icon .rotate-box-icon .fa, .rotate-box-2:hover.square-icon .rotate-box-icon .fa{-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg);}
.rotate-box-1 .rotate-box-info a, .rotate-box-2 .rotate-box-info a{-webkit-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;-ms-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;}
.rotate-box-1 h4, .rotate-box-2 h4{font-weight:400;}
.rotate-box-1 p{padding:0 10px;}
.rotate-box-1 .rotate-box-info{padding-left:60px;}
.rotate-box-2 .rotate-box-icon{display:inline-block;text-align:center;margin-bottom:15px;-webkit-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;-ms-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;}
.rotate-box-2.square-icon .rotate-box-icon{width:75px;height:75px;line-height:75px;font-size:36px;}
.rotate-box-2.square-icon .rotate-box-info{margin-top:30px;}
.skill-bar{}
.progress{overflow:visible;height:25px;margin-bottom:20px;-webkit-box-shadow:none;box-shadow:none;}
.progress .percent{position:relative;background-color:#222;padding:7px;color:#FFF;top:-23px;}
.progress .percent:after{content:"";position:absolute;left:50%;margin-left:-4px;bottom:-4px;width:0;height:0;border-left:4px solid rgba(0, 0, 0, 0);border-right:4px solid rgba(0, 0, 0, 0);border-top:4px solid #222;}
.progress-bar{font-size:10px;line-height:7px;text-align:right;-webkit-box-shadow:none;box-shadow:none;}
.progress-lebel h6{margin-bottom:10px;letter-spacing:2px;}
#cta-section{padding:70px 0 80px;}
.cta-btn{margin-top:30px;}
.testimonial{position:relative;overflow:hidden;padding:80px 0;}
.testimonial .cover{background-color:rgba(0, 7, 11, 0.87);}
.testimonial-inner{position:relative;max-width:800px;z-index:9;}
.testimonial-inner .heading{margin-bottom:20px;}
.testimonial-inner blockquote{border:none;}
.testimonial-inner blockquote p{letter-spacing:2px;padding-bottom:20px;}
.testimonial-inner blockquote cite{font-style:normal;color:#fff;font-size:1.5em;}
.portfolio_area{}
.portfolio{}
.portfoloi_top{}
.portfoloi_content_area{}
.portfolio_menu{text-align:center;overflow:hidden;margin-top:22px;margin-bottom:48px;}
.portfolio_menu ul{list-style:none outside none;text-align:center;}
.portfolio_menu ul li{display:inline-block;}
.portfolio_menu ul li a{color:#363940;background:transparent;display:inline-block;margin:4px;padding:8px 10px;text-decoration:none;text-transform:uppercase;}
.portfolio_content{}
.portfolio_single_content{position:relative;top:0;left:0;width:100%;z-index:5;margin-bottom:30px;overflow:hidden;}
.portfolio_single_content:hover img{-o-transform:scale(2);-webkit-transform:scale(2);-moz-transform:scale(2);-ms-transform:scale(2);transform:scale(2);}
.portfolio_single_content img{width:100%;position:relative;top:0;left:0;z-index:6;cursor:pointer;-moz-transition:all 1s;-webkit-transition:all 1s;-o-transition:all 1s;-ms-transition:all 1s;transition:all 1s;}
.portfolio_single_content .canv{width:100% !important;height:100% !important;}
.portfolio_single_content div+div{background:none repeat scroll 0 0 rgba(255,255,255,.9);bottom:-100%;color:#FFC000;font-weight:bold;left:0;margin:0;min-height:90px;padding:31px 5px 0 10px;position:absolute;width:100%;z-index:12;border-top:0;}
.portfolio_single_content div{position:absolute;top:0;left:0;z-index:10;width:100%;height:100%;text-align:center;transform:scale(0);transition:all .6s;opacity:0;}
.portfolio_single_content:hover div{transform:scale(1);opacity:1;}
.portfolio_single_content div a{color:#FFFFFF;display:block;font-size:18px;font-weight:bold;margin-top:40%;padding-bottom:10px;text-decoration:none;text-transform:uppercase;}
.portfolio_single_content div span{color:#FFFFFF;font-size:14px;font-weight:normal;margin:0;padding:0;text-transform:uppercase;}
.portfolio_content{}
.portfolio_content{margin-top:36px;overflow:hidden;}
.counter-up{position:relative;background-color:#171717;padding:80px 0 50px 0;}
.counter-up .cover{background-color:rgba(0, 7, 11, 0.8);}
.counter-up .fact{}
.counter-up .fact.last{border-right:none;}
.counter-up .fact-inner{padding-bottom:30px;}
.counter-up .fact-inner .counter{font-size:60px;}
.team-item{height:120px;}
.team-item .team-triangle{width:120px;height:120px;background:transparent;-ms-transform:rotate(45deg);-webkit-transform:rotate(45deg);transform:rotate(45deg);margin:0 auto;position:relative;top:25px;box-shadow:0 0 0 6px #FFFFFF, 0 0 0 7px #dadbdb;overflow:hidden;}
.team-item img{max-width:100%;}
.team-items{margin-bottom:50px;padding-top:10px;margin-top:0;}
.team-triangle .content{-ms-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);transform:rotate(-45deg);top:-35px;position:absolute;left:-37px;width:190px;height:190px;}
.team-hover{position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(103, 109, 117, 0.9);opacity:0;-webkit-transition:opacity 0.4s ease-in;transition:opacity 0.4s ease-in;}
.team-item .team-triangle:hover .team-hover{opacity:1;}
.team-hover i{color:rgba(255, 255, 255,.75);font-size:28px;margin-top:57px;position:relative;}
.team-hover p{color:#ffffff;font-size:16px;font-weight:400;margin-top:0;}
.team-items .col-md-2:nth-child(7n+5){clear:left;margin-left:24.9999999%;}
.team-items .col-md-2:nth-child(7n+1){clear:left;margin-left:16.6666666%;}
#partners-section{padding:80px 0;}
.partners{background-color:#252320;}
.partners img{max-width:100%;padding:0 15px;}
.panel, .panel-heading, .panel-footer{}
.prices .panel{position:relative;overflow:hidden;border:none;}
.prices .panel-body .lead{margin:0;font-size:48px;}
.prices .panel-footer{padding:25px 15px;}
.prices .panel-default .panel-heading{padding-top:25px;border:none;}
.prices .panel-default .panel-body{background-color:#EEE;}
.prices .panel-default .list-group-item{color:#222;border:none;}
.prices .panel-default .panel-footer{background-color:#EEE;}
.price-box-featured{z-index:9;}
.price-box-featured .panel{box-shadow:0 0 15px 2px rgba(0, 0, 0, 0.21);-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-ms-transform:scale(1.1);-o-transform:scale(1.1);transform:scale(1.1);}
.prices .price-box-featured .price-box-ribbon{position:absolute;width:150px;top:25px;right:-35px;text-align:center;padding:5px 20px;background:#FFF;color:#E83F33;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg);}
#social-section{padding:80px 0;}
ul.social-list{text-align:center;margin:0 auto;}
ul.social-list li{display:inline-block;margin-right:20px;}
ul.social-list li .rotate-box-1{margin:0;}
ul.social-list li a i{color:#fff;font-size:20px;}
#contact-section{position:relative;}
#contact-section h4{font-weight:400;}
#contact-section .cover{background-color:rgba(5, 8, 11, 0.93);}
#contact-section .contact .contact-form{margin-bottom:40px;}
#contact-section .contact .contact-form h4{margin-bottom:25px;}
#contact-section .contact .contact-form .input-lg{font-size:14px;}
#contact-section .contact .contact-form button{width:100%;height:40px;}
#contact-section .contact .contact-form button:hover{color:#fff;}
#contact-section .contact .form-control{background-color:rgba(255, 255, 255, 0.06);border-color:#2A2A2A;}
#contact-section .contact .form-control:focus{background-color:#171717;box-shadow:none;}
ul.contact-address{float:left;width:100%;padding:0;margin:15px 0;}
ul.contact-address li{padding:0 0 20px;margin:0;}
ul.contact-address li:last-child{padding-bottom:0;}
ul.contact-address li i{margin-right:10px;}
.footer-top{padding:60px 0 35px;}
.footer-top .col-md-4{margin-bottom:25px;}
.footer{padding:30px 0;}
.footer a{text-decoration:none;}
ul.imp-links{margin-top:15px;}
ul.imp-links li{padding:5px 0;}
ul.imp-links li a{text-decoration:none;color:#fff;}
#subscribe #result{display:block;width:100% !important;}
#footer_signup{margin:20px 0;}
#subscribe > input[type="text"]{border:0 none;color:#99abb7;font-style:italic;font-size:0.9em;padding:7px 10px;width:170px;height:30px;}
#subscribe > button[type="submit"]{background:none repeat scroll 0 0 #21c2f8;border:0 none;color:#ffffff;font-style:normal;font-weight:300;padding:7px 20px;height:30px;transition:all 0.4s ease-in;}
.single-tweet{overflow:hidden;padding-bottom:15px;padding-top:10px;word-spacing:2px;}
.tweet-content{padding-bottom:10px;line-height:1.5em;}
.page-header{margin:0 0 60px 0;padding:0;border:none;}
.page-header h2{text-transform:uppercase;}
p.subtitle{letter-spacing:2px;margin-top:10px;}
.extra-space-m{width:100%;height:20px;}
.extra-space-l{width:100%;height:40px;}
.extra-space-xl{width:100%;height:60px;}
.extra-space-xxl{width:100%;height:80px;}
.owl-carousel{cursor:e-resize;}
.owl-theme .owl-controls{margin-top:30px;}
.owl-theme .owl-controls .owl-page span{background:rgba(0, 0, 0, 0);width:14px;height:14px;border:3px solid #fff;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg);}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span{background:rgba(0, 0, 0, 0);border:3px solid #fff;}
.owl-buttons{position:absolute;top:50%;margin-top:-25px;width:100%;}
.owl-theme .owl-controls .owl-buttons div{position:absolute;width:100px;height:100px;line-height:100px;margin:0;text-align:center;background:transparent;opacity:1;}
.owl-theme .owl-controls.clickable .owl-buttons div:hover{opacity:.5;}
.owl-next{background-image:url(../img/arrow-right.png) !important;background-repeat:no-repeat !important;background-position:center !important;right:0;}
.owl-prev{background-image:url(../img/arrow-left.png) !important;background-repeat:no-repeat !important;background-position:center !important;left:0;}
.btn{position:relative;letter-spacing:1.5px;border:none;}
.btn:active{top:2px;}
.btn-default, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active{-webkit-transition:all 0.6s ease-in-out;-moz-transition:all 0.6s ease-in-out;-o-transition:all 0.6s ease-in-out;-ms-transition:all 0.6s ease-in-out;transition:all 0.6s ease-in-out;}
.btn-blank{border:2px solid #fff;color:#fff;padding:8px 12px;display:inline-block;vertical-align:middle;-webkit-transform:translateZ(0);transform:translateZ(0);box-shadow:0 0 1px rgba(0, 0, 0, 0);-webkit-backface-visibility:hidden;backface-visibility:hidden;-moz-osx-font-smoothing:grayscale;position:relative;-webkit-transition-property:color;transition-property:color;-webkit-transition-duration:0.3s;transition-duration:0.3s;}
.btn-blank:before{content:"";position:absolute;z-index:-1;top:0;left:0;right:0;bottom:0;background:#fff;-webkit-transform:scaleY(0);transform:scaleY(0);-webkit-transform-origin:50% 100%;transform-origin:50% 100%;-webkit-transition-property:transform;transition-property:transform;-webkit-transition-duration:0.3s;transition-duration:0.3s;-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out;}
.btn-blank:hover, .btn-blank:focus, .btn-blank:active{color:#333;}
.btn-blank:hover:before, .btn-blank:focus:before, .btn-blank:active:before{-webkit-transform:scaleY(1);transform:scaleY(1);}
.btn:active, .btn.active{-webkit-box-shadow:inset 0 3px 5px rgba(0, 0, 0, 0.16);box-shadow:inset 0 3px 5px rgba(0, 0, 0, 0.16);}
.btn-lg{font-size:1.3em;padding:10px 40px;}
.btn-lg-xl{font-size:1.4em;padding:10px 80px;}
.scrolltotop{position:fixed;display:none;bottom:20px;right:30px;width:34px;height:34px;line-height:34px;text-align:center;text-decoration:none;z-index:9999;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg);}
.scrolltotop .fa{padding-left:4px;-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg);}
#intro{font-family:Bebas Neue;font-size:82px;color:#fff;}
#go{font-family:AR DESTINE;font-size:84px;color:#fff;text-shadow:3px 7px 5px rgb(36, 35, 35);}
#intro1{font-family:Bebas Neue;font-size:25px;color:#fff;}
#intro2{font-family:Bebas Neue;font-size:40px;color:#fff;margin-top:20px;}
#intro3{font-family:Bebas Neue;font-size:45px;color:#fff;}
#ser{margin-top:20px;}
#service{background:url('../img/services-sprite.png')no-repeat;height:58px;padding-left:70px;font-family:Bebas Neue;font-size:27px;color:#fff;margin-bottom:8px;line-height:61px;}
#mech{font-family:Bebas Neue;font-size:54px;color:#fff;}
#mech_con{font-family:Bebas Neue;font-size:40px;color:#fff;}
#mech_con{font-family:Bebas Neue;font-size:28px;color:#fff;}
#seen{font-family:Bebas Neue;font-size:45px;color:#fff;}
#coming{font-family:AR DESTINE;font-size:55px;color:#000;font-style:regular;}
#lets{font-family:Bebas Neue;font-size:45px;color:#fff;}
#lets1{font-family:Bebas Neue;font-size:45px;color:#000;}
#final{font-family:Bebas Neue;font-size:25px;color:#fff;}
#seen1{font-family:Bebas Neue;font-size:35px;color:#fff;}
#seen2{font-family:Bebas Neue;font-size:22px;color:#fff;}
#seen3{font-size:16px;color:#ffa800;margin-top:-16px !important;font-family: Segoe UI;}
#seen4{font-family:Bebas Neue;font-size:22px;color:#fff;}
#seen5{font-family:Segoe UI;font-size:20px;color:#ffa800;}
#copy{font-family:Segoe UI;font-size:16px;color:#fff;}
#copy1{font-family:Segoe UI;font-size:16px;color:#fff;}
.sec1{font-family:Bebas Neue;font-size:52px;color:#fff;display:inline-block;}
.sec2{font-family:AR DESTINE;font-size:86px;color:#ffa800;font-style:regular;display:inline-block;margin-left:20px;}
.sec3{font-family:AR DESTINE;font-size:86px;color:#fff;font-style:regular;display:inline-block;}
#final_text{font-family:Bebas Neue;font-size:32px;color:#fff;display:inline-block;}
#fourth_sec{margin-top:80px;}
#goo_dow{margin-top:15px;}
.social-links, #i_phone{margin-top:10px;}
body{background:url('../img/hero-new.png');background-repeat:no-repeat;background-attachment: fixed; background-size:cover; background-color: #242323 !important;}
.navbar-default, .navbar-default.navbar-fixed-top.navbar-shrink{background-color:#777;opacity:1;transition:opacity .25s ease-in-out;-moz-transition:opacity .25s ease-in-out;-webkit-transition:opacity .25s ease-in-out;}
#footer{background-color:#242323;opacity:0.8;border-top:7px solid #ffa800;transition:opacity .25s ease-in-out;-moz-transition:opacity .25s ease-in-out;-webkit-transition:opacity .25s ease-in-out;padding:0px 30px 10px 30px;position: absolute;bottom: 0;width: 100%;}
.navbar-default{background-color:#242323;border-color:transparent;}
.navbar-brand{height:75px !important;}
ul#menu{margin-top:20px;}
.carousel-inner{min-height:340px;}
.carousel-indicators li{width:15px !important;height:15px !important;border-radius:10px !important;margin-left:10px !important;}
.carousel-indicators .active{width:15px;height:15px;margin:0;background-color:#fff;}
.carousel-inner>.item>a>img, .carousel-inner>.item>img{margin:0 auto;}
@media screen and (min-width:960px){.content-center{position:fixed;top:50%;left:50%;margin-top:-250px;margin-left:-585px !important;}
.navbar-default .navbar-nav > li > a{padding:0 15px !important;}
#go{margin-top:-60px;}
}
@media screen and (max-width:960px){.navbar-default .navbar-nav > li > a{text-align:center;}
.mobile-screen-img{width:150px;}
.navbar .container{padding:0px 10px !important;}
#intro, #go, .sec2, .sec3{font-size:60px;}
#intro1{font-size:24px;}
#intro2, #mech_con, .sec1, #final_text, #service{font-size:24px;}
#service{height:45px;padding-left:50px;background-size:44px;}
#mech{font-size:42px;}
#go{margin-top:-35px;}
}
@media screen and (max-width:768px){.intro-mechanics, .intro-book, .intro{padding-top:75px !important}
ul#menu{margin-top:0;}
#intro, #go, .sec2, .sec3{font-size:48px;}
#intro1{font-size:18px;}
#intro2, #mech_con, .sec1, #final_text, #service{font-size: 18px;}
#service{height:45px;padding-left:50px;background-size:44px;}
#mech{font-size: 21.5px;}
.sec1{display:block;}
.navbar-nav > li > a{margin-left:0;}
.navbar-brand{height:60px !important;background-size:65%;}
.cta-btn{margin-top:0px;margin-bottom:10px;width:165px;}
}
@media screen and (max-width:480px){.intro-mechanics, .intro-book, .intro{padding-top:60px !important}
.navbar-default .navbar-nav > li > a{text-align:center;}
.mobile-screen-img{width:150px;}
.navbar .container{padding:0px 10px !important;}
.cta-btn{margin-top:0px;margin-bottom:10px;width:150px;}
#intro3{font-size:36px;}
.navbar-default .navbar-nav > li > a.active{padding-top:6px !important;}
.navbar-nav{margin:0 -15px !important;}
#fourth_sec{margin-top:75px;}
}
.play-store-download-button {
z-index:10000;
position:relative;
}
@media (min-width:1200px){.container{width:100%}}
#main-navbar .call-button { font-size: 3em; color: #ffa800; margin-right: 15px;display: block;vertical-align: bottom;}

#main-navbar .call-button span {
    display: block;
    line-height: inherit;
}
#main-navbar .navbar-nav li.call-24x7 a { color: #ffa800 !important;}
#main-navbar #menu li img {margin-right: 5px;}
.quick-booking-panel {background-color: rgba(0,0,0, 0.3); border-radius: 10px !important; padding: 20px; color: white; font-family: 'Open Sans', sans-serif;margin-top: 40px;}
.quick-booking-panel h1 {font-family: 'Bebas Neue';text-align: center;margin-top: 0px;}
.submit-div .btn, .submit-div .btn:active, .submit-div .btn:focus, .submit-div .btn:hover {width: 100%; font-family: 'Bebas Neue';font-size: 22px; background-color:#ffa800; border: none;border-radius: 2px !important;height: 40px;}
@media (max-width: 768px){
	.page1_1 .page1_1 #go {
		font-size: 37px;
	}
	#fourth_sec span div {
		display: inline-block;
	}
	img#dow1 {
		width: 50%;
	}
	#footer {
		position: relative;
		padding: 0px;
	}
	#seen3 {font-family: 'Open Sans'; margin: auto !important;}
}
img#dow1 {
	width: 50%;
}
.media-caption {
	color:white;
	font-size: 2em;
	font-family: 'Bebas Neue';
	padding-bottom: 25px;
	overflow: hidden;
	text-align: center;
	float: none !important;
	margin: auto;
}
.media-caption:before, .media-caption:after {
	background-color: #fff;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
.media-caption:before {
	right: 0.5em;
    margin-left: -50%;
}
.media-caption:after {
    left: 0.5em;
    margin-right: -50%;
}
.media-caption .sec2, .media-caption .sec3 {font-size:  1em;}
.media-links a { display: inline-block; margin-right: 50px}
.media-links a:last-child {margin-right: 0px;}
.media-links a img {width: 64px;}
.media-links-section {margin-top: 60px;}
.fp-tableCell {vertical-align: top !important;text-align: center !important;}
.media-links-section>div {float: none; margin: auto;}
.fp-controlArrow.fp-prev {border-width: 20.5px 15px 20.5px 0 !important;}
.fp-controlArrow.fp-next {border-width: 20.5px 0 20.5px 15px !important;}
.completed-message {
    font-size: 18px;
    padding: 15px;
}
.completed-message.error {
    color: #F1B3B3;
}
.testimonial-images-section img {
	width: 300px;
}
#TandC {
	background-color:rgba(0,0,0,0.7);
	padding:3%;
}
ul.lists{
	list-style-type:circle !important;
	list-style:circle;
}
li.listE {
	margin-left:2%;
	list-style:circle;
}